﻿@model PharosLoginPortal.Repository.Models.UserNewLoginIndexViewModel

@Scripts.Render("~/Scripts/Portal/newLogin.js")


@{
    var authifyUser = User.GetAuthifyUser();
}


<div id="epicFail" class="alert alert-danger" role="alert">Ett allvarligt fel har inträffat, vänligen uppdatera och försök igen. Om detta är ett återkommande fel kontakta administratören! </div>


<div class="newLoginWrap">
    <h2 style="margin-left:15%;">Skapa nytt login</h2>

    <div class="formWrapper">
        <div id="loginCreated" class="alert alert-success" role="alert">
            Din inloggningsförfrågan har skickats!
        </div>
        <div id="exists" class="alert alert-warning" role="alert"></div>
        <div id="forminvalid" class="alert alert-warning" role="alert">
            Formuläret är inte korrekt ifyllt. Var vänlig fyll i alla fält och försök igen.
        </div>
        <form id="newLoginForm" role="form" method="POST" action="newLogin">
            <input type="hidden" id="forcePersonalLogin" value="" />
            <div class="formLeft">
                <div class="form-group-sm  center-block">
                    <div id="registerInput">
                        <label>Välj register</label>
                        <select id="selectRegister" class="form-control">
                            <option value="-1">--Välj register--</option>
                            @{

                                foreach (var item in Model.Registers)
                                {
                                    <option value="@item.RegisterDatabase" data-selectpe="@item.UnitSelectionTpe" data-regid="@item.Id" data-force-personal-login="@item.AlwaysConnectrPersonalLogin">@item.RegisterName</option>
                                }
                            }
                        </select>
                        <span class="text-muted small">Börja med att välja det register du önskar tillgång till.</span>
                    </div>
                    <hr/>
                    <div id="countyInput">
                        <label>Län</label>
                        <select id="selectCounty" class="form-control">
                            <option value="-1">--Välj först register--</option>
                        </select>
                        <hr/>
                    </div>
                    <div id="communityInput">
                        <label>Kommun</label>
                        <select id="selectCommunity" class="form-control">
                            <option value="-1">--Välj först Län--</option>
                        </select>
                        <hr/>
                    </div>
                    <div id="unitInput">
                        <label>Enhet</label>
                        <select id="selectUnit" class="form-control">
                            <option value="-1">--Välj register--</option>
                        </select>
                        <span class="text-muted small">Välj sedan enhet som du önskar tillgång till.</span>
                        <hr/>
                    </div>
                    <div id="emailInput">
                        <label>
                            E-postadress
                            <span id="goodEmail" class="glyphicon glyphicon-ok" style="color: green"></span>
                            <span id="failEmail" class="glyphicon glyphicon-remove" style="color: red"></span>
                        </label>
                        <input id="Email" name="Email" class="form-control" value="@authifyUser.email"/>
                        <label>
                            Bekräfta E-postadress
                            <span id="goodEmail2" class="glyphicon glyphicon-ok" style="color: green"></span>
                            <span id="failEmail2" class="glyphicon glyphicon-remove" style="color: red"></span>
                        </label>
                        <input id="Email2" name="Email2" class="form-control" value="@authifyUser.email"/>
                        <br/>
                        <button type="button" id="changeEmail" class="btn btn-danger btn-sm">Ändra</button>

                    </div>
                </div>
            </div>
            <div class="formRight">
                <div id="commentInput">
                    <label>Kompletterande uppgifter/kommentarer</label>
                    <textarea id="userComment" name="UserComment" class="form-control" placeholder="Fyll i anledning till att du vill ha inloggning till registret..."></textarea>
                </div>
                <div id="loginQuestion">
                    <hr/>
                    <label>Befintlig inloggning till vald enhet?</label>
                    <select id="userQInput" class="form-control">
                        <option value="0">--Har du en inloggning?--</option>
                        <option value="1">Ja</option>
                        <option value="2">Nej</option>
                    </select>
                    <div class="panel panel-warning" style="margin-top: 10px">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="font-size: 12px; line-height: 16px">
                                Välj <strong>Ja</strong> om du redan har en personlig inloggning till den valda enheten.<br/>
                                Annars välj <strong>Nej</strong>.
                            </h3>
                        </div>
                    </div>
                </div>
                <div id="loginInput">
                    <hr/>
                    <label>Anslut ditt SITHS-kort till din personliga inloggning</label>
                    <div style="margin-bottom: 5px">
                        <label for="Username" style="font-weight: normal" class="control-label small">Användarnamn</label>
                        <input class="form-control" name="Username" id="Username" type="text" placeholder="Användarnamn"/>
                    </div>
                    <div style="margin-bottom: 10px">
                        <label for="Password" style="font-weight: normal" class="control-label small">Lösenord</label>
                        <input class="form-control" name="Password" id="Password" type="password" placeholder="Lösenord"/>
                    </div>
                    <div class="text-left" style="margin-bottom: 10px"><button id="checkLoginbtn" type="button" class="btn btn-warning">Anslut</button>
                    </div>
                    <div id="loginInvalid" class="alert alert-warning" role="alert">Vänligen fyll i både användarnamn och lösenord.</div>
                    <div id="loginConfirm" class="alert alert-info" role="alert">Ok! Din inloggning verifierades, klicka på <strong>Begär login</strong> för att skicka din förfrågan.
                    </div>
                    <div id="loginDeny" class="alert alert-warning" role="alert">
                        Den personliga inloggning du angett gick inte att verifiera. Antingen är de angivna inloggningsuppgifterna felaktiga, eller så har du inte tillgång till den valda enheten.
                    </div>
                    <div id="loginDenyAlt" class="alert alert-danger" role="alert">
                        Den personliga inloggning du angett gick inte att verifiera. Du måste ha en personlig inloggning till den enhet du valt för att kunna ansöka om en SITHS-inloggning.
                    </div>
                    <div id="wentWrong" class="alert alert-danger" role="alert">Något gick fel, uppgifterna kunde inte kontrolleras!</div>
                </div>
                <div class="pull-right" style="margin-top: 30px">
                    <button id="submitBtn" value="submit" class="btn btn-primary">Begär login</button>
                    <button id="cancelBtn" class="btn btn-default">Avbryt</button>
                </div>
            </div>
            <div style="clear: both;"></div>

        </form>



    </div>
</div>
