﻿<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron text-center">
                <h2>Log in gik galt</h2>
                <p class="lead">
                    Venligst prøv igen eller kontakt support for inloggningsportalen.
                </p>
            </div>
        </div>
    </div>
</div>