﻿@model IEnumerable<PharosLoginPortal.Repository.Models.Register>


<div class="mainWrap">

    <div class="row">
        <div class="col-md-3 login-left-image">
            <img src="Images/pharos_fyren.jpg" alt="Fyren på Pharos" />
        </div>
        <div class="col-md-6">
            <img src="Images/RCSYD_Logo_400.png" alt="RC SYDS Logo" />
            <p class="lead" style="margin: 20px 0 50px">
                Välkommen till RC SYDS inloggningsportal för nationella kvalitetsregister.<br />
                Via portalen kan Du nå kvalitetsregisterna via <a id="sithsLoginLink" href="javascript:void(0)">E-tjänstekorts-</a> eller <a id="personalLoginLink" href="javascript:void(0)">Personlig inloggning</a>.
            </p>
            <div class="panel panel-primary" style="display: none">
                <div class="panel-heading">
                    <h3 class="panel-title">Information</h3>
                </div>
                <div class="panel-body" id="platformMessage">
                    Kontaktinformation: <a href="mailto:rcsydkarlskrona@ltblekinge.se">rcsydkarlskrona@ltblekinge.se</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <div class="list-group-item">
                    <button id="nemIDLoginButton" class="btn btn-lg btn-primary btn-block">
                        <i class="glyphicon glyphicon-credit-card"></i>
                        NemID inloggning
                    </button>
                </div>
                <!--
                <div class="list-group-item">
                    <button id="sithsLoginButton" class="btn btn-lg btn-primary btn-block">
                        <i class="glyphicon glyphicon-credit-card"></i>
                        E-tjänstekortsinloggning
                    </button>
                </div>

                <div class="list-group-item">
                    <button id="personalLoginButton" class="btn btn-lg btn-primary btn-block">
                        <i class="glyphicon glyphicon-user"></i>
                        Personlig inloggning
                    </button>
                </div>

                <div id="loginBox" class="list-group-item">
                    <h4 class="list-group-item-heading">Välj register du önskar logga in i.</h4>

                    <select id="dropDownRegisters" class="form-control" onchange="location = this.options[this.selectedIndex].value;">
                        <option>--Välj register--</option>
                        @{
                            foreach (var item in Model)
                            {
                                <option value="@item.RegisterURL">@item.RegisterName</option>
                            }
                        }
                    </select>

                </div>
                    -->
            </div>
        </div>
    </div>

</div>
