﻿@model PharosLoginPortal.Repository.Models.UserIndexViewModel

@{
    var user = User.GetPharosUser();
}

<header>
    @Scripts.Render("~/Scripts/Portal/user.js")
</header>

<div class="row-fluid">
    @*Användaruppgifter*@
    <div class="col-md-2 col-md-offset-2 well" style="min-height:819px;">
        <h4>Välkommen!</h4>
        <h5>Vänligen kontrollera att Dina uppgifter är korrekta innan Du fortsätter</h5>
        <hr />
        <form role="form">
            <div class="form-group">
                <label>HSA Identity:</label>
                <input class="form-control" type="text" value="@user.SithToken" readonly />
                <br />
                <br />
                <label>Namn</label>
                <input class="form-control" type="text" value="@user.FullName" />
                <br />
                <br />
                <label>Organisation</label>
                <input class="form-control" type="text" value="@user.Phone" />
                <br />
                <br />
                <label>E-mail</label>
                <input id="editUserEmail" class="form-control" type="email" value="@user.Email" />
                <br />
                <br />
                <div id="confirmEmail">
                    <label>Bekräfta E-mail</label>
                    <input class="form-control" type="email" value="@user.Email" />
                </div>



            </div>
        </form>
        @*<div class="pull-right">
                <button id="saveButton" class="btn btn-primary">Spara</button>
                <button id="editButton" class="btn btn-danger">Ändra</button>
            </div>*@


    </div>

    @*LOGINS_LISTA*@
    <div class="col-md-6 loginList well mainbox">
        <label>Klicka på registret för att logga in</label>


        <button class="btn btn-sm btn-primary pull-right" onclick="location.href='@Url.Action("Index", "NewLogin")'"><span class="glyphicon glyphicon-plus" style="border:0;"></span> Lägg till Login</button>
        <br />
        <hr />

        <div style="max-height:350px; overflow:auto;">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Register</th>
                        <th>Enhetens namn</th>
                        <th>Kommun</th>
                        <th>Län</th>
                        <th>Roll</th>
                    </tr>
                </thead>


                <tbody>
                    @{

                        foreach (var item in Model.Logins)
                        {
                            <tr id="clickableRow" href='@item.LoginUrl' data-name='@item.RegisterName'>
                                <td>@item.RegisterName</td>
                                <td>@item.UnitName</td>
                                <td>@item.CommunityName</td>
                                <td>@item.CountyName</td>
                                <td>@item.RoleName</td>




                            </tr>


                        }
                    }

                </tbody>
            </table>
        </div>
    </div>



    @*REGISTRERADE FÖRFRÅGNINGAR*@
    <div class="col-md-6 col-md-offset-2 well loginList subbox">
        <label>Skickade förfrågningar</label>
        <hr />
        <div style="max-height:200px; overflow:auto;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Register</th>

                        <th>Enhetens namn</th>
                        <th>Kommun</th>
                        <th>Län</th>
                        <th>Admins kommentarer</th>
                        <th>Skapad</th>

                    </tr>

                </thead>
                <tbody onchange="location = this.options[this.selectedIndex].value;">
                    @{

                        foreach (var item in Model.LoginRequests)
                        {
                            <tr>
                                <td>@item.RegisterName</td>
                                <td>@item.UnitName</td>
                                <td>@item.CommunityName</td>
                                <td>@item.CountyName</td>
                                <td>@item.UserComment</td>
                                <td>@item.CreateDate.ToString("yyyy-MM-dd")</td>


                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


