﻿@model PharosLoginPortal.Repository.Models.UserIndexViewModel

@{
    var authifyUser = User.GetAuthifyUser();
}

<header>
    @Scripts.Render("~/Scripts/Portal/user.js")
</header>


    @*Användaruppgifter*@
    <div style="height:819px; width:20%; float:left; margin-left: 5%; background-color:#EDEDE4; padding:20px;">
        <h4>Velkommen!</h4>
        <h5>Venligst Kontroller, at dine oplysninger er korrekte, før du fortsætter</h5>
        <hr />
        <div class="form-group">
            <label>NemID Identity:</label>
            <input id="hsa_id" name="hsa_id" class="form-control" type="text" value="@authifyUser.hsa_id" readonly />
            <br />
            <br />
            <label>Navn</label>
            <input class="form-control" type="text" value="@authifyUser.name" />
            <br />
            <br />
            <label>Organisation</label>
            <input class="form-control" type="text" value="@authifyUser.organization_name" />
            <br />
            <br />
            <label>E-mail</label>
            <input id="editUserEmail" class="form-control" type="email" value="@authifyUser.email" />

        </div>
        <br/>
        <form action="@Url.Action("LogOff", "Login")">
            <button class="pull-right btn btn-danger" type="submit"><span class="glyphicon glyphicon-log-out"></span> Log ud</button>
        </form>
    </div>

    @*LOGINS_LISTA*@
    <div class="loginList pull-right" style="height:500px;">
    <label>Klikke på registret for at logge ind</label>


    <button class="btn btn-sm btn-primary pull-right" onclick="location.href='@Url.Action("Index", "NewLogin")'"><span class="glyphicon glyphicon-plus" style="border:0;"></span> Tilføj Login</button>
    <br />
    <hr />

    <div style="max-height:350px; overflow:auto;">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Register</th>
                    <th>Enhetens navn</th>
                    <th>Kommune</th>
                    <th>Amt?</th>
                    <th>Rolle</th>
                </tr>
            </thead>


            <tbody>
                @{

                    foreach (var item in Model.Logins)
                    {
                        <tr class="clickableRow" data-url='@item.LoginUrl' data-name='@item.RegisterName' data-userid="@item.UserId" data-loginid="@item.LoginId" data-unitid="@item.UnitId">
                            <td>@item.RegisterName</td>
                            @if(item.RoleId == 2)
                            {
                            <td></td>
                            <td></td>
                            <td></td>
                            }
                            else
                            {
                            <td>@item.UnitName</td>
                            <td>@item.CommunityName</td>
                            <td>@item.CountyName</td>
                            }
                            <td>@item.RoleName</td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>

</div>
      
        

   
 
       

   @*REGISTRERADE FÖRFRÅGNINGAR*@
    <div class="loginList pull-right subbox">
    <label>Skickade förfrågningar</label>
    <hr />
    <div style="max-height:200px; overflow:auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Register</th>
                    <th>Enhetens namn</th>
                    <th>Kommun</th>
                    <th>Län</th>
                    <th>Admins kommentarer</th>
                    <th>Skapad</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.LoginRequests)
                {
                    <tr>
                        <td>@item.RegisterName</td>
                        <td>@item.UnitName</td>
                        <td>@item.CommunityName</td>
                        <td>@item.CountyName</td>
                        <td>@item.AdminComment</td>
                        <td>@item.CreateDate.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


 
