﻿@using System.Reflection;
@using System.Web;

@{
    string appRoot = Request.ApplicationPath;
    if (!appRoot.EndsWith("/"))
    {
        appRoot += "/";
    }
}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <title>Pharos Login Portal</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/Scripts/respond.min.js")


    @*Jquery*@
    @Scripts.Render("~/Scripts/jquery-1.8.2.min.js")

    @*BOOTSTRAP*@
    @Styles.Render("~/Content/bootstrap.min.css")

    @*Project specifik*@
    @Styles.Render("~/Content/portal.css")
    @Scripts.Render("~/Scripts/Portal/login.js")

    @Scripts.Render("~/Scripts/modernizr-2.6.2.js")
    <script type="text/javascript">window.AppRoot = '@appRoot';</script>
    <meta name="description" content="The description of my page" />
</head>

<body>
    @Html.Partial("_Navbar")
    <br />
    <div id="body" class="">


        <section>
            @RenderBody()
        </section>
    </div>

</body>
</html>
