﻿<section id="navbar" class="navWrap">

    <img class="navPic" onclick="location.href='@Url.Action( "Index", "Login")'" src="~/Images/pharoslogo2.jpg" alt="" />
    <h1 class="navbarTitle">Sunhedsstyrelsen Login Portal</h1>

</section>
