﻿/**
*    LOGIN PORTAL SKIN CSS    
*/
/* COLORS */
/* STYLES */
body {
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: .5em;
}
.clickableRow td:hover {
  cursor: pointer !important;
}
button h4 {
  margin: 0;
  padding: 0;
}
#portalName {
  color: #ffffff;
}
#navbar {
  position: relative;
  background-color: #276585;
  vertical-align: middle !important;
}
#navbar.working {
  background-position: 25px 35px;
}
.navbarTitle {
  position: absolute;
  top: 30px;
  left: 125px;
  color: #ffffff;
  margin-left: 30px;
}
.loginList {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 20px;
  height: 300px;
  width: 68%;
  margin-right: 5%;
}
.mainbox {
  height: 500px;
  width: 800px;
  float: right;
}
.formWrapper {
  background-color: #ffffff;
  border: 1px solid #ccc;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
  /*padding-bottom:60px;*/
  /*min-height: 750px;*/
}
.formRight {
  float: right;
  width: 50%;
}
.formLeft {
  float: left;
  width: 40%;
}
.form-control {
  min-height: 30px;
}
.navWrap {
  width: auto;
  height: 100px;
}
.formButtons {
  margin: 30px;
}
.newLoginWrap {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
li {
  display: inline;
  margin-left: 50px;
  padding-top: 150px;
}
.Login {
  margin: 0 0 10px 0;
  padding: 20px;
  background-color: #edede4;
}
.mainWrap {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 20px 20px;
}
.subbox {
  margin-top: 10px;
}
.login-left-image img {
  max-width: 90%;
}
.btn-primary {
  background-color: #2e91bf;
}
.panel-primary {
  border-color: #2e91bf;
}
.panel-primary > .panel-heading {
  background-color: #2e91bf;
  border-color: #2e91bf;
}
.btn-block .glyphicon {
  float: left;
}
/*# sourceMappingURL=portal.css.map */