﻿/**
*    LOGIN PORTAL SKIN CSS    
*/


@primary: #2E91BF;
@secondary: #276585;

/* COLORS */
@borderColor1: #ccc;
@borderColor2: #808080;
@bgColor1: #EDEDE4;
@bgColor2: #FFF;
@bgColor3: #276585;
@navBarTitleTextColor: #FFF;



/* STYLES */
body {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    margin-bottom: .5em;
}

.clickableRow td:hover {
    cursor: pointer !important;
}

button h4 {
    margin: 0;
    padding: 0;
}


#portalName {
    color: @bgColor2;
}

#navbar {
    position: relative;
    background-color: @bgColor3;
    vertical-align: middle !important;
}

#navbar.working {
    background-position: 25px 35px;
}

.navbarTitle {
    position: absolute;
    top: 30px;
    left: 125px;

    color: @navBarTitleTextColor;
    margin-left: 30px;
}


.loginList {
    border: 1px solid @borderColor1;
    background-color: @bgColor2;
    padding: 20px;
    height: 300px;
    width: 68%;
    margin-right: 5%;
}

.mainbox {
    height: 500px;
    width: 800px;
    float: right;
}

.formWrapper {
    background-color: @bgColor2;
    border: 1px solid #ccc;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    /*padding-bottom:60px;*/
    /*min-height: 750px;*/
}

.formRight {
    float: right;
    width: 50%;
}

.formLeft {
    float: left;
    width: 40%;
}

.form-control {
    min-height: 30px;
}

.navWrap {
    width: auto;
    height: 100px;
}

.formButtons {
    margin: 30px;
}

.newLoginWrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

li {
    display: inline;
    margin-left: 50px;
    padding-top: 150px;
}

.Login {
    margin: 0 0 10px 0;
    padding: 20px;
    background-color: @bgColor1;
}

.mainWrap {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 20px 20px;
}

.subbox {
    margin-top: 10px;
}

.login-left-image {

    img {
        max-width: 90%;
    }
}

.btn-primary {
    background-color: @primary;
}

.panel-primary {
    border-color: @primary;
}

.panel-primary > .panel-heading {
    background-color: @primary;
    border-color: @primary;
}

.btn-block {
    .glyphicon {
        float: left;
    }
}
